.container {
  color: #3f92d2;
  background-color: #151515;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  height: 80px;
  margin: 0 auto;
}

.linksAuth {
  display: flex;
  gap: 15px;
  align-items: center;
}
