.name {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 24px;
}

.timeIntervals {
	margin-bottom: 40px;
	color: #878787;
	font-size: 16px;
}

.visitInterval {
	margin-left: 20px;
}

.header {
	display: block;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
}

.paragraph {
	font-size: 16px;
}
