.wrapper {
  width: 100%;
  max-width: 826px;
}

.tabs {
  position: relative;
  height: 40px;
  background: #1a1a1a;
}

.tabs::before,
.tabs::after {
  display: table;
  content: '';
}

.tabs::after {
  clear: both;
}

.tab {
  float: left;
}

.tabSwitch {
  display: none;
}

.tabLabel {
  position: relative;
  top: 0;
  display: block;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  background: #00508c;
  border: 1px solid #1a1a1a;
  border-bottom: none;
  cursor: pointer;
  transition: all 0.25s;
}

.tabLabel:hover {
  top: -0.25rem;
  transition: top 0.25s;
}

.tabContent {
  padding: 30px 20px;
  color: #fff;
  background: #1a1a1a;
  border: 1px solid #878787;
  transition: all 0.35s;
}

.tabSwitch:checked + .tabLabel {
  top: -0.0625rem;
  z-index: 1;
  color: #fff;
  background: #3f92d2;
  border-bottom: 0;
  cursor: auto;
  transition: all 0.35s;
}

.tabSwitch:checked + label + .tabContent {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}
