.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.recNews {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.text {
  width: 60%;
  margin-right: 30px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.date {
  margin-top: 10px;
  color: #878787;
  font-size: 14px;
}

.dscr {
  display: -webkit-box;
  margin-top: 15px;
  overflow: hidden;
  font-size: 18px;
  text-align: justify;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

/* .dscr::after { */

/*	content: 'Читать далее...'; */

/*	color: white; */

/*	display: block; */

/* } */

.img {
  max-width: 350px;
  padding: 10px 0;
  border-radius: 13px;
}
