.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  background-color: #3f92d2;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
}

.button:hover {
  filter: brightness(110%);
}
