.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  border: none;
  border-radius: 3px;

  font-weight: 700;
  font-size: 16px;
  line-height: normal;

  color: white;
  background-color: #3f92d2;
}
