.container {
  display: flex;
  justify-content: space-between;
}

.container div {
  overflow: hidden;
}

.container > *:first-child {
  margin-top: 42px;
}

.wrapper {
  width: 100%;
  max-width: 826px;
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}

.tab {
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  background-color: #00508c;
}

.active {
  background-color: #3f92d2;
}

.tabContent {
  min-height: 440px;
  padding: 30px 20px;
  font-size: 16px;
  border: 1px solid #878787;
}
