/* Top Part */
.topPart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 370px;
  background-color: rgb(26 26 26 / 50%);
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.title {
  margin: 0;
  font-weight: bold;
  font-size: 48px;
}

.author {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.authorName {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.authorImg {
  border-radius: 100px;
}

.hr {
  width: 100%;
  margin: 0;
  color: white;
  border: 1px solid white;
}

.underlinePart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.commentsButton,
.shareButton {
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Content */
.contentWrapper {
  margin: 430px 95px 80px 50px;
}

.content {
  margin-bottom: 80px;
  font-size: 18px;
}

/* Comments */
.commentBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.abovePart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.share {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}

.numberComments {
  font-weight: bold;
  font-size: 18px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
