.news p {
  line-height: 135%;
  letter-spacing: 0.05rem;
}

/* Top Part */
.topPart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 370px;
  background-color: rgb(26 26 26 / 50%);
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.title {
  margin: 0;
  font-weight: bold;
  font-size: 48px;
}

.author {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.authorName {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.authorImg {
  border-radius: 100px;
}

.hr {
  width: 100%;
  margin: 0;
  color: white;
  border: 1px solid white;
}

.underlinePart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.commentsButton,
.shareButton {
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.shareButton:nth-child(3):hover svg {
  fill: #3f92d2;
}

.shareButton:hover svg g path {
  stroke: #3f92d2;
}

.shareButton:hover p {
  color: #3f92d2;
}

/* Content */
.contentWrapper {
  margin: 430px 95px 80px;
}

.content {
  margin-bottom: 80px;
  font-size: 18px;
}

/* Comments */
.commentBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.abovePart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.share {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}

.numberComments {
  font-weight: bold;
  font-size: 18px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.commentImg {
  border-radius: 100px;
}

.addCommentField {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.commentContent {
  flex: 1 1 auto;
  border-bottom: 1px solid #878787;
}

.commentUsername {
  margin-bottom: 5px;
}

.commentInputField {
  display: flex;
  gap: 10px;
}

.commentInputText {
  flex: 1 1 auto;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  background-color: inherit;
  border: none;
  outline: none;
}

.activeInput {
  border-bottom: 1px solid #fff !important;
}
