.content {
  padding: 35px 165px 50px 165px;
}

.section {
  margin-bottom: 80px;
  &:last-child {
    margin-bottom: 0;
  }
  &__title {
    color: white !important;
  }
}

.rec-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 30px;

  &__text {
    display: flex;
    flex-direction: column;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &__title {
    color: white !important;
  }
  &__date {
    color: #676767 !important;
  }
  &__content {
    color: white !important;
  }
}