.content {
  padding: 35px 165px 50px 165px;
}

.section {
  margin-bottom: 80px;
  &:last-child {
    margin-bottom: 0;
  }
}

.rec-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 30px;

  &__text {
    display: flex;
    flex-direction: column;
  }
  &__image {
    width: 350px;
    height: 240px;
    background-color: #B9B9B9;
  }
  &:last-child {
    margin-bottom: 0;
  }
}