.newsTitle {
  display: block;
  width: 550px;
  font-size: 18px;
  padding: 10px 20px 10px 0px;
}

.newsTitle:hover {
  color: #3f92d2;
  transition: all 0.7s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* .linkWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px 10px 0px;
  align-items: center;
}

.linkWrap svg {
  visibility: hidden;
  
}
.linkWrap:hover svg {
  visibility: visible;
} */