.comment {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
p {
    margin: 0;
}
.commentImg {
    border-radius: 100px;
}
.commentContent {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.commentTopPart {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.commentAuthor {
    font-size: 16px;
    font-weight: bold;
}
.commentDate {
    font-size: 14px;
    color: #878787;
}
.commentText {
    font-size: 16px;
}