.comment {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

p {
  margin: 0;
}

.commentImg {
  border-radius: 100px;
}

.commentContent {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 5px;
}

.commentTopPart {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.commentAuthor {
  font-weight: bold;
  font-size: 16px;
}

.commentDate {
  color: #878787;
  font-size: 16px;
}

.commentText {
  font-size: 16px;
}

.likeButton,
.editButton {
  padding: 0;
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.likeButton:hover svg g path,
.editButton:hover svg path {
  stroke: #3f92d2;
}

.authorComment {
  display: contents;
}

.editInputWrapper {
  display: flex;
}

.editInput {
  flex: 1 1 auto;
  margin-right: -25px;
  padding-right: 35px;
  color: #fff;
  font-size: inherit;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
}
