.comment {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

p {
  margin: 0;
}

.commentImg {
  border-radius: 100px;
}

.commentContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.commentTopPart {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.commentAuthor {
  font-weight: bold;
  font-size: 16px;
}

.commentDate {
  color: #878787;
  font-size: 16px;
}

.commentText {
  font-size: 16px;
}

.likeButton {
  padding: 0;
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.likeButton:hover svg g path {
  stroke: #3f92d2;
}

.authorComment {
  display: contents;
}
