.hr {
  margin-left: -40px;
}

.title {
  margin-bottom: 35px;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  line-height: 105%;
}

.aboutUl {
  padding: 0;
  list-style-type: none;
}

h4 {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: normal;
}

p {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 136.2%;
  letter-spacing: 0.81px;
}

li {
  margin-bottom: 30px;
}

h3 {
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  line-height: 136.2%;
  letter-spacing: 1.26px;
}

.link {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 136.2%;
  letter-spacing: 0.9px;
}

.aboutUs {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 136.2%;
  letter-spacing: 0.9px;
}

hr {
  margin-bottom: 30px;
}
