.newsContainer {
  display: flex;
  justify-content: space-between;
}

.authors {
  height: fit-content;
  background: #151515;
}

.wrapper {
  padding: 20px 15px;
}

.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}

