.news {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 0 40px;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    height: 100%;
}
.left_part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 30px;
}
.author_name, .date {
    font-size: 14px;
    color: #878787;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background-color: #00508C;
    cursor: pointer;
}
.active_dot {
    width: 15px;
    height: 15px;
    background-color: #3F92D2;
}
.carousel {
    height: 350px;
    background-color: #151515;
}

.left_arrow, .right_arrow {
    bottom: 38px;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
}
.left_arrow {
    left: 40px;
}
.right_arrow {
    left: 70px;
}
