.news {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 40px;
  font-weight: bold;
  font-size: 28px;
}

.leftPart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 30px;
}

.authorName,
.date {
  color: #878787;
  font-size: 14px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #00508c;
  border-radius: 100px;
  cursor: pointer;
}

.activeDot {
  width: 15px;
  height: 15px;
  background-color: #3f92d2;
}

.carousel {
  height: 350px;
  background-color: #151515;
}

.leftArrow,
.rightArrow {
  position: absolute;
  bottom: 38px;
  background: none;
  border: none;
  cursor: pointer;
}

.leftArrow {
  left: 40px;
}

.rightArrow {
  left: 70px;
}
