.card {
  width: 160px;
}

.cover {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 160px;
  background-color: #d9d9d9;
  border-radius: 3px;
}

.meta {
  padding-block: 10px;
}

.name {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
}

.contact {
  color: #878787;
  font-size: 14px;
}

.button {
  width: 100%;
  background-color: #00508c;
}
