.navlink {
  padding-inline: 5px;
}

footer {
  position: fixed;
  background-color: gray;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
}

span {
  float: right;
  padding-inline: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.latnews {
  float: left;
  padding-inline: 5px;
}
/* Тестовые изменения */